<nb-layout>

  <nb-layout-header fixed>
    <button nbButton status="success" shape="round" size="medium" (click)="toggle()">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </button>

    <img src="/assets/img/tdmtransporte.png" alt="teste" class="logo">
    <nb-card-body class="header-content">
      <nb-user [name]="usuario.name" [title]="usuario.email" [nbContextMenu]="items2"
        nbContextMenuTag="my-context-menu" class="user-right" onlyPicture size="large">
      </nb-user>
    </nb-card-body>
  </nb-layout-header>


  <nb-sidebar class="sidebar smaller-components"  tag="left">
    <nb-menu [items]="items"(click)="toggle();" ></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <!-- renderização dos componentes filhos-->
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    © 2024 TDM Transportes. Todos os direitos reservados.
  </nb-layout-footer>
</nb-layout>
