$base-height: 630px; // Defina a altura fixa desejada

nb-card {
  width: 50%;
  height: $base-height;
  margin: auto;

  @media screen and (max-width: 768px) {
    width: 90%;
  }

  @media screen and (max-width: 576px) {
    width: 90%;
  }
}
.row-container {
  margin-bottom: 10px; // Adiciona um espaçamento na parte inferior de cada linha
}
.container {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Define a altura do contêiner como a altura da janela de visualização */

}
.custom-textarea {
  resize: none; // Impede a redimensionamento
  max-width: 100%; // Largura máxima
  max-height: 100px; // Altura máxima (ajuste conforme necessário)

  // Estilos adicionais, se necessário
  padding: 10px;
  font-size: 16px;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  color:#666363;

}
