$base-height: 600px; // Defina a altura fixa desejada

nb-card {
  width: 65%;
  height: $base-height;
  margin: auto;

  @media screen and (max-width: 768px) {
    width: 90%;
  }

  @media screen and (max-width: 576px) {
    width: 100%;
    height: auto;
    margin: 1rem;
  }

  @media screen and (max-width: 320px) {
    width: 100%;
    margin: 0.5rem;
  }
}

.row-container {
  margin-bottom: 10px; // Adiciona um espaçamento na parte inferior de cada linha
}

.container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Define a altura do contêiner como a altura da janela de visualização

  @media screen and (max-width: 576px) {
    flex-direction: column;
    height: auto;
  }
}

.custom-textarea {
  resize: none; // Impede a redimensionamento
  max-width: 100%; // Largura máxima
  max-height: 100px; // Altura máxima (ajuste conforme necessário)

  // Estilos adicionais, se necessário
  padding: 10px;
  font-size: 16px;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  color:#666363;

  @media screen and (max-width: 576px) {
    max-height: auto;
  }
}
