
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Dados base
      </ng-template>



      <mat-dialog-content class="mat-typography">


        <div style="display: flex;">
          <!-- Coluna esquerda -->
          <div style="flex: 1; margin-right: 10px;">
            <div class="row-container">
              <div style="display: flex; align-items: center;">
                <label class="label" for="linha" style="width: 100px;">Linha:</label>
                <input disabled [(ngModel)]="data.margem.margemDto.linha" name="linha" shape="semi-round" nbInput fullWidth type="text">
              </div>
            </div>
            <div class="row-container">
              <div style="display: flex; align-items: center;">
                <label class="label" for="cliente" style="width: 100px;">Cliente:</label>
                <input disabled [(ngModel)]="data.margem.margemDto.cliente" name="cliente" shape="semi-round" nbInput fullWidth type="text">
              </div>
            </div>
            <div class="row-container">
              <div style="display: flex; align-items: center;">
                <label class="label" for="margem" style="width: 100px;">Margem TAC(%):</label>
                <input disabled [(ngModel)]="data.margem.margemDto.margem" name="margem" shape="semi-round" nbInput fullWidth type="number">
              </div>
            </div>
            <div class="row-container">
              <div style="display: flex; align-items: center;">
                <label class="label" for="kilometragem" style="width: 100px;">Distância (KM):</label>
                <input disabled [(ngModel)]="data.margem.margemDto.kilometragem" name="kilometragem" shape="semi-round" nbInput fullWidth
                  type="number">
              </div>
            </div>
            <div class="row-container">
              <div style="display: flex; align-items: center;">
                <label class="label" for="pesoTon" style="width: 100px;">Peso(Ton):</label>
                <input disabled [(ngModel)]="data.margem.margemDto.pesoTon" name="pesoTon" shape="semi-round" nbInput fullWidth
                  type="number">
              </div>
            </div>
          </div>


          <!-- Coluna direita -->
          <div style="flex: 1;">
            <div class="row-container">
              <div style="display: flex; align-items: center;">
                <label class="label" for="origem" style="width: 100px;">Origem:</label>
                <input disabled [(ngModel)]="data.margem.margemDto.origem" name="origem" shape="semi-round" nbInput fullWidth type="text">
              </div>
            </div>

            <div class="row-container">
              <div style="display: flex; align-items: center;">
                <label class="label" for="destino" style="width: 100px;">Destino:</label>
                <input disabled [(ngModel)]="data.margem.margemDto.destino" name="destino" shape="semi-round" nbInput fullWidth type="text">
              </div>
            </div>
            <div class="row-container">
              <div style="display: flex; align-items: center;">
                <label class="label" for="margem" style="width: 100px;">Margem AGR(%):</label>
                <input disabled [(ngModel)]="data.margem.margemDto.margemAgr" name="margem" shape="semi-round" nbInput fullWidth
                  type="number">
              </div>
            </div>
            <div class="row-container">
              <div style="display: flex; align-items: center;">
                <label class="label" for="frete" style="width: 100px;">Frete:</label>
                <input disabled [(ngModel)]="data.margem.margemDto.frete"  name="frete" shape="semi-round"
                  nbInput fullWidth type="number">
              </div>
            </div>
            <div class="row-container">
              <div style="display: flex; align-items: center;">
                <label class="label" for="icms" style="width: 100px;">ICMS (R$):</label>
                <input disabled [(ngModel)]="data.margem.margemDto.icms" name="icms" shape="semi-round" disabled nbInput fullWidth
                  type="number">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="label" for="observacao" class="label">Observações</label>
          </div>
        </div>
        <textarea rows="5" disabled nbInput fullWidth name="observacao" shape="round" id="observacao" placeholder=""
          name="observacao" required nbInput class="custom-textarea" [(ngModel)]="data.margem.margemDto.observacao"></textarea>




      </mat-dialog-content>
    </mat-tab>
    <!-- chat -->
    <mat-tab>
      <ng-template mat-tab-label>
        Valores de Frete
      </ng-template>


      <mat-dialog-content>
          <div style="display: flex;">
            <!-- Coluna esquerda -->
            <div style="flex: 1; margin-right: 10px;">
              <div class="row-container">
                <div style="display: flex; align-items: center;">
                  <label class="label" for="fe" style="width: 100px;margin-right: 1rem;">FE (R$):</label>
                  <input disabled [(ngModel)]="data.margem.valoresMargemDto.fe" name="fe" shape="semi-round" nbInput fullWidth type="number">
                </div>
              </div>
              <div class="row-container">
                <div style="display: flex; align-items: center;">
                  <label class="label" for="fetruck" style="width: 100px;margin-right: 1rem;">FE TRUCK (R$):</label>
                  <input disabled [(ngModel)]="data.margem.valoresMargemDto.feTruck" name="fetruck" shape="semi-round" nbInput fullWidth type="number">
                </div>
              </div>
              <div class="row-container">
                <div style="display: flex; align-items: center;">
                  <label class="label" for="feBitrem" style="width: 100px;margin-right: 1rem;">FE BITREM (R$):</label>
                  <input disabled [(ngModel)]="data.margem.valoresMargemDto.feBitrem" name="feBitrem" shape="semi-round" nbInput fullWidth type="number">
                </div>
              </div>
              <div class="row-container">
                <div style="display: flex; align-items: center;">
                  <label class="label" for="feCarreta" style="width: 100px;margin-right: 1rem;">FE CARRETA (R$):</label>
                  <input disabled [(ngModel)]="data.margem.valoresMargemDto.feCarreta" name="feCarreta" shape="semi-round" nbInput fullWidth
                    type="number">
                </div>
              </div>
              <div class="row-container">
                <div style="display: flex; align-items: center;">
                  <label class="label" for="feGranel" style="width: 100px;margin-right: 1rem;">FE GRANEL (R$):</label>
                  <input disabled [(ngModel)]="data.margem.valoresMargemDto.feGranel" name="feGranel" shape="semi-round" nbInput fullWidth
                    type="number">
                </div>
              </div>
              <div class="row-container">
                <div style="display: flex; align-items: center;">
                  <label class="label" for="feRodoTrem" style="width: 100px;margin-right: 1rem;">FE RODO TREM (R$):</label>
                  <input disabled [(ngModel)]="data.margem.valoresMargemDto.feRodotrem" name="feRodoTrem" shape="semi-round" nbInput fullWidth
                    type="number">
                </div>
              </div>
            </div>


            <!-- Coluna direita -->
            <div style="flex: 1;">
              <div class="row-container">
                <div style="display: flex; align-items: center;">
                  <label class="label" for="FM" style="width: 100px;margin-right: 1rem;">FM (R$):</label>
                  <input disabled [(ngModel)]="data.margem.valoresMargemDto.fm" name="FM" shape="semi-round" nbInput fullWidth type="number">
                </div>
              </div>

              <div class="row-container">
                <div style="display: flex; align-items: center;">
                  <label class="label" for="fmTruck" style="width: 100px;margin-right: 1rem;">FM TRUCK (R$):</label>
                  <input disabled [(ngModel)]="data.margem.valoresMargemDto.fmTruck" name="fmTruck" shape="semi-round" nbInput fullWidth type="number">
                </div>
              </div>
              <div class="row-container">
                <div style="display: flex; align-items: center;">
                  <label class="label" for="fmBitrem" style="width: 100px;margin-right: 1rem;">FM BITREM (R$):</label>
                  <input disabled [(ngModel)]="data.margem.valoresMargemDto.fmBitrem" name="fmBitrem" shape="semi-round" nbInput fullWidth
                    type="number">
                </div>
              </div>
              <div class="row-container">
                <div style="display: flex; align-items: center;">
                  <label class="label" for="fmCarreta" style="width: 100px;margin-right: 1rem;">FM CARRETA (R$):</label>
                  <input disabled [(ngModel)]="data.margem.valoresMargemDto.fmCarreta" name="fmCarreta" shape="semi-round"
                    nbInput fullWidth type="number">
                </div>
              </div>
              <div class="row-container">
                <div style="display: flex; align-items: center;">
                  <label class="label" for="fmGranel" style="width: 100px; margin-right: 1rem;">FM GRANEL (R$):</label>
                  <input disabled [(ngModel)]="data.margem.valoresMargemDto.fmGranel" name="fmGranel" shape="semi-round"  nbInput fullWidth
                    type="number">
                </div>
              </div>
              <div class="row-container">
                <div style="display: flex; align-items: center;">
                  <label class="label" for="fmRodotrem" style="width: 100px;margin-right: 1rem;" >FM RODO TREM (R$):</label>
                  <input disabled [(ngModel)]="data.margem.valoresMargemDto.fmRodotrem" name="fmRodotrem" shape="semi-round"  nbInput fullWidth
                    type="number">
                </div>
              </div>
            </div>
          </div>




      </mat-dialog-content>

    </mat-tab>



  </mat-tab-group>



  <mat-dialog-actions align="end" class="configurationbutton">
    <!-- Botões-->

    <button nbButton status="info" shape="semi-round" fullWidth (click)="voltar()" style="border: 2px solid white;">Voltar</button>
  </mat-dialog-actions>

