
  <div style="display: flex;">
    <!-- Coluna esquerda -->
    <div style="flex: 1; margin-right: 10px;">
      <div class="row-container">
        <div style="display: flex; align-items: center;">
          <label class="label" for="linha" style="width: 100px;">Linha:</label>
          <input [(ngModel)]="data.margemCompleta.margemDto.linha" name="linha" shape="semi-round" nbInput fullWidth type="text">
        </div>
      </div>
      <div class="row-container">
        <div style="display: flex; align-items: center;">
          <label class="label" for="cliente" style="width: 100px;">Cliente:</label>
          <input [(ngModel)]="data.margemCompleta.margemDto.cliente" name="cliente" shape="semi-round" nbInput fullWidth type="text">
        </div>
      </div>
      <div class="row-container">
        <div style="display: flex; align-items: center;">
          <label class="label" for="margem" style="width: 100px;">Margem TAC(%):</label>
          <input [(ngModel)]="data.margemCompleta.margemDto.margem" name="margem" shape="semi-round" nbInput fullWidth type="number">
        </div>
      </div>
      <div class="row-container">
        <div style="display: flex; align-items: center;">
          <label class="label" for="kilometragem" style="width: 100px;">Distância (KM):</label>
          <input [(ngModel)]="data.margemCompleta.margemDto.kilometragem" name="kilometragem" shape="semi-round" nbInput fullWidth
            type="number">
        </div>
      </div>
      <div class="row-container">
        <div style="display: flex; align-items: center;">
          <label class="label" for="pesoTon" style="width: 100px;">Peso(Ton):</label>
          <input [(ngModel)]="data.margemCompleta.margemDto.pesoTon" name="pesoTon" shape="semi-round" nbInput fullWidth
            type="number">
        </div>
      </div>
    </div>


    <!-- Coluna direita -->
    <div style="flex: 1;">
      <div class="row-container">
        <div style="display: flex; align-items: center;">
          <label class="label" for="origem" style="width: 100px;">Origem:</label>
          <input [(ngModel)]="data.margemCompleta.margemDto.origem" name="origem" shape="semi-round" nbInput fullWidth type="text">
        </div>
      </div>

      <div class="row-container">
        <div style="display: flex; align-items: center;">
          <label class="label" for="destino" style="width: 100px;">Destino:</label>
          <input [(ngModel)]="data.margemCompleta.margemDto.destino" name="destino" shape="semi-round" nbInput fullWidth type="text">
        </div>
      </div>
      <div class="row-container">
        <div style="display: flex; align-items: center;">
          <label class="label" for="margem" style="width: 100px;">Margem AGR(%):</label>
          <input [(ngModel)]="data.margemCompleta.margemDto.margemAgr" name="margem" shape="semi-round" nbInput fullWidth
            type="number">
        </div>
      </div>
      <div class="row-container">
        <div style="display: flex; align-items: center;">
          <label class="label" for="frete" style="width: 100px;">Frete:</label>
          <input [(ngModel)]="data.margemCompleta.margemDto.frete"  name="frete" shape="semi-round"
            nbInput fullWidth type="number">
        </div>
      </div>
      <div class="row-container">
        <div style="display: flex; align-items: center;">
          <label class="label" for="icms" style="width: 100px;">ICMS (R$):</label>
          <input [(ngModel)]="data.margemCompleta.margemDto.icms" name="icms" shape="semi-round" disabled nbInput fullWidth
            type="number">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="label" for="observacao" class="label">Observações</label>
    </div>
  </div>
  <textarea rows="5" nbInput fullWidth name="observacao" shape="round" id="observacao" placeholder=""
    name="observacao" required nbInput class="custom-textarea" [(ngModel)]="data.margemCompleta.margemDto.observacao"></textarea>


